*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc

npm-debug.log
.idea

.~
*~
.DS_Store
*.orig
Thumbs.db
*.sublime-workspace

.tag
.tag_sorted_by_file

server/logs/myclinic*.txt*
server/config.json

node_modules

*.lock
.vscode
*.pyc
